# { create setattr unlink rw_file_perms } -> create_file_perms w/o rename
allow cbd cbd_device:chr_file { create setattr unlink rw_file_perms };
allow cbd radio_block_device:blk_file r_file_perms;
allow cbd radio_device:chr_file rw_file_perms;
allow cbd radio_sysfs:file r_file_perms;
allow cbd serial_device:chr_file rw_file_perms;
set_prop(cbd, cbd_prop)
